yieldUnescaped """<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

  <title>${content.title}</title>
  <meta name="description" content="${content.title}">
  <meta name="author" content="@jagedn">
  <meta name="robots" content="index, follow">
  <meta name="referrer" content="always">

  <meta property="og:title" content="${content.title}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="${content.title}">
  <meta property="og:url" content="${content.uri}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/agate.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
  <script type="module" src="https://jagedn.github.io/vanilla-js-web-component-leaflet-geojson/components/leaflet-map-component/leaflet-map.js"></script>

  <style>
      header {}

      header,
      footer {
          text-align: center;
          background: #333;
          color: #fff;
          padding: 1px 0;
      }

      header a,
      footer a {
          color: #3887BE;
      }

      footer {
          margin-top: 60px;
      }

      body {
          font-family: 'Merriweather', serif;
          font-size: 1.25em;
          margin: 0;
      }

      .container {
          margin: 0 auto;
          width: 60%;
          padding: 0;
      }

      pre code {
          border-radius: 10px;
          margin-top: 30px;
          margin-bottom: 30px;
      }

      code {
          font-family: 'Source Code Pro', monospace;
          font-size: 0.65em;
      }

      code.inline {
          font-size: 1em;
      }

      h2 {
          margin-top: 50px;
          margin-bottom: 0;
          color: #3887BE;
      }

      h3 {
          margin-bottom: 0;
          color: #3887BE;
      }

      ol {
          list-style-type: circle;
      }

      li {
          margin-top: 1.25ch;
      }

      #subtitle {
          margin: 0;
          font-size: 0.8em;
      }

      leaflet-map {
          height: 300px;
          display: block;
          position: relative;
      }

      .small-map {
          margin-left: auto;
          margin-right: auto;
          width: 70%;
      }

      #blog-map {
          margin-left: auto;
          margin-right: auto;
          height: 40em;
      }
  </style>
</head>

<body>
<header>
  <div class="container">
      <h3>${content.title}</h3>
  </div>
</header>
<section id="setting-up">
  <leaflet-geojson-map id="blog-map" zoom="${content.zoom ?: 3}" latitude="${content.latitude ?: 0}" longitude="${content.longitude ?: 0}" fitToBounds></leaflet-geojson-map>
</section>

<!--footer>
  <em>
  Made with
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
  </svg>
  using <a href="http://leafletjs.com" target="_blank" rel="noopener noreferrer">Leaflet</a>
  (<a href="https://github.com/migupl/leaflet-map-vanilla-js-web-component" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>)
  </em>
</footer-->
</body>

<script>
const data = [];
"""

published_mapposts.findAll{ it.map == content.map }.each{ post->
    if( !post.coordinates )
        return
    yieldUnescaped """
    data.push({
        "type": "Feature",
        "geometry": {
            "type": "${post.coordstype ?: 'Point'}",
            "coordinates": [${post.coordinates}]
        },
        "properties": {
            "popupContent": '<a href="${post.uri}">${post.title}</a><br/>${post.summary}',
            "icon": {
                "iconUrl": "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png",
                "shadowUrl": "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
                "iconSize": [
                    25,
                    41
                ],
                "iconAnchor": [
                    12,
                    41
                ],
                "popupAnchor": [
                    1,
                    -34
                ],
                "shadowSize": [
                    41,
                    41
                ]
            }
        }
    })
    """
}

yieldUnescaped '''
  window.onload = async (event) => {
      const map = document.getElementById('blog-map');
      map.dispatchEvent(new CustomEvent('x-leaflet-map-geojson-add', {
          detail: {
              geojson: {
                "type": "FeatureCollection",
                "features": data
              }
          }
      }));
  }
</script>

</html>
'''
